main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .nothing-found {
        color: red;
        font-variation-settings: "wght" 800; 
        font-size: 1.5rem;
    }
}